$font-stack: Helvetica, sans-serif;
$primary-color: #333;

* {
  margin: 0;
}

body {
  height: 100vh;
  background: url("space-bg.png") no-repeat left;
  background-color: rgba(6,22,50,128);
  background-size: auto 100%;
}
